@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lalezar", cursive;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  font-size: 15px;
}
h2 {
  color: #15384f;
  white-space: nowrap;

  font-size: 45px;
}
@media only screen and (max-width: 1400px) {
  h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 765px) {
  h2 {
    font-size: 30px;
  }
}
